.hed header{
  margin-top:-1%;
  height: 35%;
  width: 100%;
  background-color:#d2d4d6;
}

.hed header h1 {
  text-align: center;
}

@media screen and (max-width: 600px) {

  .hed header{
    margin-top: -1%;
    height: 35%;
    width: 100%;
    background-color:#d2d4d6;
  }
}
