.joinus{
  margin-top: 1%;
  height: 57%;
  width: 100%;
  background-color:#d2d4d6;
}

.joinus p{
display: inline-block;
margin-left: 10%;
margin-right: 5%;
}

.joinus input{
  margin-left: 1.3%;

  width: 30%;
  height: 15%;
}

.joinus select{
  margin-left: 1%;
  width: 30%;
  height: 15%;
}

.joinus form{
  margin-left: 15%;
  float: left;
  width: 100%;
  margin-top: 1%;

}
.joinus .cmpName{
  margin-left:-1.5%;
}

.btnSubmit{

background-color:#4CAF50;
color:#ffffff;
padding:10px;
padding-left:30px;
padding-right:30px;
margin-left: 47.5%;
}

@media screen and (max-width: 600px) {

.joinus{
  height: 60%;
}
.btnSubmit{
  margin-left:40%;
  padding:5px;
}

.joinus p{
margin-left: 0%;
margin-right:0%;
display: grid;
}

.joinus input{
  margin-left: 1.3%;
  width: 90%;
  height: 10%;
}

.joinus select{
  margin-left: 1%;
  width: 90%;
  height: 10%;
}

.joinus form{
  margin-left: 1%;
  width: 100%;
  float: none;
}

.joinus .cmpName{
  margin-left:1.5%;
}
}
